body {
    background-color: #ffe4e1 !important; 
    font-family: 'Figtree', sans-serif !important;
}

.card {
    background-color: #ffffff !important;
    border: none !important;
    border-radius: 15px;
    box-shadow: 0 4px 10px #ffb6c166;
}

.table-container {
    border-radius: 15px;
    overflow: hidden; 
    box-shadow: 0 4px 10px #ffb6c166;
    background-color: #fff0f5;
    margin-bottom: 50px;
}

.table {
    --bs-table-bg: #fff0f5;
    margin-bottom: 0 !important; 
}

.table-dark {
    --bs-table-bg: #ff9aa2 !important; 
    --bs-table-color: #fff !important;
}

.table th, .table td {
    border: none !important;
}

.btn-primary {
    background-color: #ffb6c1 !important; 
    border-color: #ffb6c1 !important;
    color: #4a4a4a !important;
    font-weight: bold;
    border-radius: 10px;
}

.btn-secondary {
    background-color: #868686 !important; 
    border-color: #868686 !important;
    color: #ffffff !important;
    font-weight: bold;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: #ff9aa2 !important;
    border-color: #ff9aa2 !important;
}

.btn-secondary:hover {
    background-color: #666666 !important;
    border-color: #666666 !important;
}

.form-control:focus {
    border-color: #ffb6c1 !important;
    box-shadow: 0 0 0 0.25rem #ffb6c140 !important;
}
